:root {
  --body-bg: #edf1f3;
  --card-bg: #e0e0e0;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
  --hover-color: white;
  --submit-btn-bg: black;
  --submit-btn-color: white;
}
.dark_mode {
  --body-bg: #252525;
  --card-bg: #555;
  --card-bd-col: #212121;
  --text-color: #f5f5f5;
  --submit-btn-bg: white;
  --submit-btn-color: black;
}
.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif !important;
  height: 100vh;
  background: var(--body-bg) !important;
  color: var(--text-color) !important;
  overflow-x: hidden;
}
.menu-item {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  width: 180px;
  justify-content: space-evenly;
  border: none;
  background: transparent;
  color: var(--text-color);
}
section {
  margin: 5% 20%;
  font-size: 25px;
}
section > i {
  font-size: 35px;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  border-radius: 5px;
  background: var(--submit-btn-bg) !important;
  color: var(--submit-btn-color) !important;
}

h2 {
  margin: 0 !important;
  font-size: 30px !important;
  align-self: flex-end !important;
}
nav {
  padding: 30px 25px 25px 25px;
}
.nav-holder {
  display: flex;
  justify-content: space-evenly;
}
.menu-icon {
  align-self: center;
  font-size: 30px;
}
.menu-title {
  margin-left: 5px;
}
.separator {
  align-self: center;
  font-size: 40px;
  font-weight: 100;
  color: grey;
}
#about {
  margin: 1% 20%;
}
.about > i,
#about > div > i {
  color: #f94144;
}
.skills > i,
#skills section > div > i {
  color: #1fb362;
}
.projects > i,
#projects > section > div > i {
  color: #ffb703;
}
.contact > i,
#contact > section > div > i {
  color: #2aa6ff;
}
.contact:hover > i,
.contact:focus > i {
  animation: fly 1s;
}

.skills:hover > i,
.skills:focus > i {
  animation: rotating 1s;
}
.glow-bulb {
  display: none;
}
.projects:hover > .bulb,
.projects:focus > .bulb {
  display: none;
}
.projects:hover > .glow-bulb,
.projects:focus > .glow-bulb {
  display: block;
}
.about:hover > i,
.about:focus > i {
  animation: MoveUpDown 1s;
}

.about > h1 {
}
@keyframes MoveUpDown {
  0%,
  100% {
    position: relative;
    bottom: 0;
  }
  50% {
    position: relative;
    bottom: 5px;
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes fly {
  50% {
    transform: translate(5px, -5px);
  }

  0%,
  100% {
    transform: translate(0px, 0px);
  }
}

.wave::after {
  content: "👋";
  --emoji: "✋";
  animation-name: twoFrames;
  animation-duration: 1s;
}

.emoji {
  min-width: 1.4em;
  margin: 0.3em 0.4em;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}
@media (max-width: 500px) {
  nav {
    margin-top: 20px;
  }
  #icons {
    font-size: 13px;
  }
  .project-container {
    font-size: 20px !important;
  }
  section {
    margin: 5%;
    text-align: center;
    font-size: 20px;
  }
  #about {
    margin: 5%;
  }
  .abt-buttons > button {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .menu-icon {
    font-size: 50px;
  }
  .menu-title {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px;
  }
  .menu-item {
    margin: 5px;
    width: 80px;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
}
hr {
  width: 50%;
  align-self: center;
}
#title {
  margin: 1%;
}
.sec-title {
  margin-left: 10px !important;
}
.linked-in,
.resume {
  background-color: white;
  border: none !important;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pre-linkedin {
  color: black;
}
.post-linkedin {
  background-color: #0476b1;
  color: white;
  border-radius: 2px;
  padding: 0px 5px;
  height: 30px;
  align-self: baseline;
}
.resume > i {
  color: #4fd278;
  font-size: 30px;
  margin-left: 5px;
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.abt-buttons > button {
  margin: 5% 10%;
}
.html {
  color: #e6622b;
}
.js {
  color: #efd930;
}
.sass {
  color: #cf649a;
}
.bootstrap {
  color: #7f5df1;
}
.skill-container {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
  padding: 5px 10px;
}
.skill-container:hover,
.project-container:hover {
  background-color: var(--text-color);
  color: var(--body-bg);
  cursor: pointer;
  border-radius: 5px;
}
.skill-icon {
  font-size: 50px;
  margin: 5px;
}
.skill-title {
  font-size: 25px;
  text-decoration-line: underline;
  margin: 5px;
}
.skill-row {
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.angular {
  color: #d83730;
}
.node {
  color: #45823b;
}
.java {
  width: 50px;
  margin: auto 5px;
}
.git {
  color: #e44d30;
}
.heroku {
  margin: auto 5px;
}
.projects-col {
  flex-wrap: wrap;
  margin-top: 30px;
}
.project-container {
  display: flex;
  font-size: 30px;
  align-items: center;
  margin: 10px;
  padding: 0px 10px;
  height: 70px;
}
.ui-designs {
  background: -webkit-linear-gradient(#0f6, #456fbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-img {
  padding: 10px;
}

.vanilla-js {
  background: -webkit-linear-gradient(#00cefd, #456fbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vent-out {
  background: -webkit-linear-gradient(#f0df0d, #dc3545);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.kanban {
  background: -webkit-linear-gradient(#664d03, #dc3545);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.globe {
  background: -webkit-linear-gradient(#0d6efd, #0dcaf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bot {
  background: -webkit-linear-gradient(#ff0119, #871919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twitter {
  color: #1da1f1;
}
.project-container > a {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
  font-size: 25px;
}
.project-container > a:hover {
  text-decoration: none;
  color: inherit;
}

.contact-form > form {
  height: 100%;
  justify-content: space-evenly;
}
.contact-form {
  margin-top: 30px;
  height: 600px;
}
.contact-form > form > input,
textarea {
  border: none;
  border-radius: 4px;
  height: 50px;
  padding: 10px;
}
textarea {
  height: 200px;
}
.submit-btn {
  border: none;
  background: var(--submit-btn-bg);
  color: var(--submit-btn-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-arrow {
  margin-left: 5px;
}
.fs-30 {
  font-size: 30px !important;
}
.pt-10 {
  padding-top: 10px;
}
#spinner {
  height: 150px !important;
  width: 150px !important;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  color: rgb(239, 194, 104);
}

.theme {
  border: none;
  background: transparent;
  font-size: 30px;
}
.moon {
  color: black;
}
.sun {
  color: gold;
}

.icon-container {
  position: fixed;
  right: 2%;
  top: -120px;
  width: 50px;
  z-index: 888;
}
.makeSwing {
  animation: swing 1s 1;
}
.icons {
  --rotation: 0;
  position: absolute;
  left: calc(50% - 20px);
  margin: auto;
  transition: 0.8s;
  text-align: center;
  transform: rotate(calc(var(--rotation) * 1deg));
  font-size: 15px;
  right: 0px;
  height: 200px;
  outline: none;
}
.icon {
  font-size: 2em;
  color: hsl(50, 85%, 55%);
  transition: color 0.8s;
}
.dark .icon {
  color: #ccc;
}
.icon1 {
  transform: rotate(180deg);
  margin-bottom: -6px;
}

.btn-container {
  text-align: center;
}
.thread {
  background: #fd7e14;
  height: 80px;
  width: 2px;
  margin: auto;
}
.icon2 {
  margin-top: -6px;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
